# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurang dan elemen yang dipisahkan dengan koma.

In [1]:
#contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
#menampilkan tipe strukture data
type(T1)

tuple

**Sifat-sifat Tuple**

In [4]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [5]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [6]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [7]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan Tuple**

In [8]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)