# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a.   `list()` : untuk mengubah menjadi list                                       
b.   `tuple()`: untuk mengubah menjadi tuple                                      
c.   `set()` : untuk mengubah menjadi set                                         
d.   `dict()` : untuk mengubah menjadi dictionary

# Mengkonversi tipe data list

In [ ]:
#membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [ ]:
#mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data tuple:

In [ ]:
#membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [ ]:
#mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data set:

In [ ]:
#Membuat dua set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [ ]:
#mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1,S2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

# Mengkonversi tipe data list:

In [ ]:
#Membuat dictionary
D = {
  "nama": "Andi",
  "alamat": "Yogyakarta",
  "umur": 20
}

In [ ]:
#Mengkonversi Struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'umur', 'alamat'}

# Latihan

In [ ]:
#lakukan konversi struktur data yang kalian buat pada notebook-notebook
#sebelumnya menjadi list,tuple,set, dan dictionary (masing-masing satu)