Latihan 1

In [1]:
L1 = [1,3,5,7,9]
print(type(L1))

<class 'list'>

In [2]:
L2 = ["x", "Mahasiswa", 7]
L2

['x', 'Mahasiswa', 7]

In [5]:
print(L1)
print('-'*21)
print(L2)

[1, 3, 5, 7, 9]
---------------------
['x', 'Mahasiswa', 7]

Latihan 2

In [7]:
#mengganti elemen 
L1[0] = 0
L1[1] = 2
L1[2] = 4
L1[3] = 6
L1[4] = 8
print(L1)

[0, 2, 4, 6, 8]