Latihan

In [1]:
#data 2 list
L1 = [1, 3, 5, 7]
L2 = [2, 4, 6, 8]
#mengkonversi
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))
#melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 3, 5, 7)
{8, 2, 4, 6}
{1: 2, 3: 4, 5: 6, 7: 8}

In [2]:
#data 2 tuple
T1 = (1, 3, 5, 7)
T2 = (2, 4, 6, 8)
#mengkonversi
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))
#melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 3, 5, 7]
{8, 2, 4, 6}
{1: 2, 3: 4, 5: 6, 7: 8}

In [4]:
#data 2 set
S1 = {1, 3, 5, 7}
S2 = {2, 4, 6, 8}
#mengkonversi
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 3, 5, 7]
(8, 2, 4, 6)
{1: 8, 3: 2, 5: 4, 7: 6}

In [6]:
#data dictionary
D = {
  "nama": "Budi", 
  "alamat": "Malang", 
  "umur": 17
}
#mengkonversi
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Budi', 'Malang', 17)
{'nama', 'alamat', 'umur'}